body {
    margin: 0;
    min-height: 200vh;

    /* display: flex;
    align-items: center;
    justify-content: center; */

    background: #263a37;
}

.scroll-section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.scroll-box {
    width: 150px;
    height: 150px;

    background: orange;
}







/* 
.box  {
    width: 100px;
    height: 100px;

    background: orange;
}

.cat {
    width: 100px;
    height: 100px;

    background: red;
}

.bat {
    width: 100px;
    height: 100px;

    background: blue;
}

.rat {
    width: 100px;
    height: 100px;

    background: green;
}
 */
